section {
	padding: 20px 0;
	position: relative;
	overflow: hidden;
}
.promo {
	background: url('../images/gallery/nemalmountain.jpg') no-repeat;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center center;
	color: white;
}
.promo .brand-holder {
	display: inline-block;
}
.promo .brand-holder h1 {
	font-size: 3.8em;
	margin-bottom: 0;
	font-color: white;
}
.promo .brand-holder span {
	text-transform: uppercase;
	font-size: 12px;
}
.promo .btn {
	border: 2px solid white;
}

.legend {
	margin: 40px 0;
	padding: 0 10%;
}

.large-text {
	font-size: 30px;
}

.margin-holder {
	margin: 100px 0 100px 0;
}